
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Traductor-Auto-LandOfSika.iml
.idea/vcs.xml
.idea/workspace.xml
.vscode/launch.json
XmlManage/__pycache__/XmlManager.cpython-310.pyc
